<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="spm-id" content="a21e4">
  <meta name="description" content="">
  <meta name="keyword" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
</head>

<body>
  <app-topmenu></app-topmenu>
  <ng-select [items]="movies" [typeahead]="searchTerm" [(ngModel)]="selectedMovie">
  </ng-select>

  <div echarts [options]="chartOption" (chartClick)="onChartEvent($event, 'chartClick')" class="demo-chart"></div>
</body>

</html>
