.inner-info {
  margin: auto;
}

.info-text {
  color: white;
  padding: 0 45px;
}

.info-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at 20% 50%, rgba(13.73%, 18.04%, 14.90%, 0.98) 0%, rgba(13.73%, 18.04%, 14.90%, 0.88) 100%);
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 600px;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.poster {
  border-radius: 5px;
  padding: 0;
  width: 300px;
  height: 450px;
  cursor: pointer;
  margin: auto;
}

.poster-img {
  border-radius: 5px;
  width: 300px;
  height: 450px;
}

.release-date {
  opacity: 0.6;
  font-size: 1.7em;
  font-weight: 400;
}

.rate {
  width: 60px;
  height: 60px;
  margin-top: 16px;
}

.reccomendation-poster {
  width: 100%;
  cursor: pointer;
}

.people {
  vertical-align:top;
  width: 138px;
  height: 280px;
  padding: 0px;
  margin: 0 10px;
  display: inline-block;
}

.people-poster {
  height: 175px;
  width: 138px;
}

.missing {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #DBDBDB;
}

.missing-icon {
  width: 55px;
  height: 55px;
  margin: auto;
  font-size:55px;
  color: #B5B5B5;
}