<mat-toolbar color="primary" class="header">
  <mat-toolbar-row fxLayout="row">
    <span fxFlex="none" style="cursor: pointer; display:flex" (click)="router.navigate(['index']);">
      <mat-icon style="font-size:32px; margin-right:16px">movie_filter</mat-icon>
      Movie DB
    </span>
    <div fxFlex="auto"></div>
    <div fxFlex="none">
      <button mat-button mat-icon-button (click)="router.navigate(['index']);" style="margin:auto 0">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
